body {
    font-family: arial;
    color: #2b2d30;
    background-color: #f2f2f2;
    line-height: 20px;
}

header {
    font-size: 25px;
    font-weight: bold;
}

#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    border-right: solid;
    border-color: #2b2d30;
    height: 100%;
    width: 300px;
}

#navbar header {
    margin: 0px;
    padding: 10px 35px;
    background-color: #cfcfcf;
}

#navbar ul {
    margin: 0px;
    padding-left: 0px;
}

#navbar li {
    margin: 0px;
    padding: 5px 0px;
    border-bottom: solid 1px #2b2d30;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #0a0a0a;
    font-weight: bold;
}

#navbar a {
    display: block;
    padding: 15px 40px;
}

#main-doc {
    position: absolute;
    margin-left: 300px;
    padding: 20px;
}

#main-doc p {
    margin: 20px;
}

code {
    font-size: 13px;
    background-color: #cfcfcf;
}

@media only screen and (max-width: 815px) {
    #navbar {
        position: absolute;
        top: 0px;
        padding: 0px;
        margin: 0px;
        width: 100%;
        border-bottom: 2px solid;
        height: 245px;
    }
    #navbar ul {
        height: 206px;
        overflow: hidden;
        overflow-y: scroll;
    }
    #main-doc {
        position: relative;
        margin: 10px;
        margin-top: 270px;
    }
}